{% extends 'base.html.twig' %}
{% block title %}
    Hello HomeController!
{% endblock %}
{% block body %}
    <div class="flex max-w-8xl mx-auto">
        <main class="w-full p-6">
            <section class="bg-cover bg-center bg-no-repeat text-white py-20 rounded-lg" style="background-image: url('https://cdn.pixabay.com/photo/2015/07/15/11/48/rustic-846054_960_720.jpg');">
                <div class="container mx-auto px-4">
                    <div class="text-center bg-transparent bg-opacity-0 backdrop-blur-lg p-6 rounded-lg">
                        <h1 class="text-5xl font-bold mb-6">
                            Welcome to SkillsZone
                        </h1>
                        <p class="text-lg mb-6">
                            The e-learning platform designed for developers, where all resources are centralized in one place.
                        </p>
                        <a href="#courses" class="bg-primary-orange text-white px-6 py-3 rounded-full hover:bg-primary-dark-blue transition">
                            Start Learning
                        </a>
                    </div>
                </div>
            </section>
            <h2 class="mt-20 text-2xl sm:text-4xl font-bold">
                Our Best Courses.
            </h2>
            <div class="max-w-8xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-6">
                {% for course in courses | slice(0,6) %}
                    {% include 'Components/_card.html.twig' with {
                        'entity': course,
                        'entity_route': 'app_course_show'
                    } %}
                {% endfor %}
            </div>
            <h2 class="mt-20 text-2xl sm:text-4xl font-bold">
                Our Best Resources.
            </h2>
            <div class="max-w-8xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-6">
                {% for post in posts | slice(0,6) %}
                    {% include 'Components/_card.html.twig' with {
                        'entity': post,
                        'entity_route': 'app_post_admin_show'
                    } %}
                {% endfor %}
            </div>
        </main>
    </div>
{% endblock %}
