{% extends 'base.html.twig' %}
{% block title %}
    Hello HomeController!
{% endblock %}
{% block body %}
    <div class="flex max-w-8xl mx-auto">
        <main class="w-full p-6">
            <div class="relative h-[60vh] flex justify-center">
                <div class="sticky-image max-w-7xl w-full mx-auto bg-cover bg-center bg-no-repeat rounded-xl" style="background-image: url('https://images.unsplash.com/photo-1522202176988-66273c2fd55f?q=80&w=2671&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');" id="image-1">
                    <div class="absolute inset-0 bg-black opacity-70 rounded-xl"></div>
                    <div id="content-1" class="absolute top-0 left-0 flex h-full w-full flex-col items-center justify-center text-center text-white fade-in-out">
                        <h1 class="text-5xl font-bold mb-6">
                            Welcome to SkillsZone
                        </h1>
                        <p class="text-lg mb-6">
                            The e-learning platform designed for developers, where all resources are centralized in one place.
                        </p>
                        <a href="#courses" class="button button--primary">
                            Start Learning
                        </a>
                    </div>
                </div>
            </div>
            <div class="flex justify-between items-center mt-10 mb-10">
                <h2 class="text-2xl sm:text-4xl font-bold">
                    Our best courses.
                </h2>
                <a href="{{ path('app_course') }}" class="text-sm sm:text-lg font-medium text-primary-blue hover:underline">
                    View all courses
                </a>
            </div>
            <div class="max-w-8xl mx-auto relative">
                <div class="overflow-hidden">
                    <div id="carousel1" class="transition-transform ease-in-out flex">
                        {% for course in courses | slice(0,6) %}
                            {% include 'Components/_carousel-card.html.twig' with {
                                'entity': course,
                                'entity_route': 'app_course_show',
                                'is_external': false
                            } %}
                        {% endfor %}
                    </div>
                </div>
                <!-- Icons for navigation -->
                <div class="flex justify-center space-x-4 mt-4">
                    <button id="prevButton1" class="text-3xl text-primary-blue hover:text-blue-600 focus:outline-none bg-white p-3 rounded-full shadow-lg">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                    <button id="nextButton1" class="text-3xl text-primary-blue hover:text-blue-600 focus:outline-none bg-white p-3 rounded-full shadow-lg">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </div>
            <div class="flex justify-between items-center mt-10 mb-10">
                <h2 class="text-2xl sm:text-4xl font-bold">
                    Our best resources.
                </h2>
                <a href="{{ path('app_post') }}" class="text-sm sm:text-lg font-medium text-primary-blue hover:underline">
                    View all resources
                </a>
            </div>
            <div class="max-w-8xl mx-auto relative">
                <div class="overflow-hidden">
                    <div id="carousel2" class="transition-transform ease-in-out flex">
                        {% for post in posts | slice(0,6) %}
                            {% include 'Components/_carousel-card.html.twig' with {
                                'entity': post,
                                'entity_route': post.externalLink,
                                'is_external': true
                            } %}
                        {% endfor %}
                    </div>
                </div>
                <!-- Icons for navigation -->
                <div class="flex justify-center space-x-4 mt-4">
                    <button id="prevButton2" class="text-3xl text-primary-blue hover:text-blue-600 focus:outline-none bg-white p-3 rounded-full shadow-lg">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                    <button id="nextButton2" class="text-3xl text-primary-blue hover:text-blue-600 focus:outline-none bg-white p-3 rounded-full shadow-lg">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
