{# templates/user/update_email.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Update Email{% endblock %}

{% block body %}
    <h1>Update your email</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        <button type="submit" class="btn btn-primary">Update</button>
    {{ form_end(form) }}
{% endblock %}
