{% extends 'Admin/base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div
        class="flex flex-col pt-20 max-w-8xl mx-auto p-6">
        <!-- Dashboard Overview Section -->
        <section>
            <h1 class="text-3xl font-bold mb-6">
                Dashboard Overview
            </h1>
            <div
                class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <!-- Total Users -->
                <div class="bg-primary-light_white p-6 rounded-lg shadow-lg">
                    <h2 class="text-xl font-bold">
                        Total Users
                    </h2>
                    <p class="text-3xl font-bold mt-4">
                        {{ totalUsers }}
                    </p>
                </div>
                <!-- Total Courses -->
                {# <div class="bg-primary-light_white p-6 rounded-lg shadow-lg">
                    <h2 class="text-xl font-bold">
                                                New Users This Month
                    </h2>
                    <p class="text-3xl font-bold mt-4">
                        {{ newUsersThisMonth }}
                    </p>
                </div> #}
                <!-- Total Lessons -->
                <div class="bg-primary-light_white p-6 rounded-lg shadow-lg">
                    <h2 class="text-xl font-bold">
                        Total Courses
                    </h2>
                    <p class="text-3xl font-bold mt-4">
                        {{ totalCourses }}
                    </p>
                </div>
                <div class="bg-primary-light_white p-6 rounded-lg shadow-lg">
                    <h2 class="text-xl font-bold">
                        Total Lessons
                    </h2>
                    <p class="text-3xl font-bold mt-4">
                        {{ totalLessons }}
                    </p>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
