{% extends 'Admin/base.html.twig' %}
{% block title %}
    New CourseCategory
{% endblock %}
{% block body %}
    <div class="max-w-4xl mx-auto mt-24 p-6 bg-primary-light_white rounded-lg shadow-lg text-primary-dark">
        <h1 class="text-3xl font-bold mb-6 text-center">
            Create new Course Category
        </h1>
        <div class="mb-6">
            {{ include('Admin/course_category/_form.html.twig') }}
        </div>
        <div>
            <a href="{{ path('app_course_category_index') }}" class="text-primary-blue">
                Back to list
            </a>
        </div>
    </div>
{% endblock %}
